:root,
[data-md-color-accent=indigo] {
  --md-primary-fg-color: #006699;
  --md-accent-fg-color: #005c8a;
  /* darken 10% */
  --md-primary-fg-color--dark: #00537c;
  /* darken 10% */ }

[data-md-color-scheme="slate"] {
  --md-hue: 230;
  --md-default-bg-color: hsla(230, 15%, 21%, 1); }

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

img.img-border {
  border: 1px solid #b3b3b3; }

.md-typeset .md-button.md-button--primary {
  color: white !important; }

.md-typeset .admonition,
.md-typeset details {
  font-size: inherit !important; }

.md-typeset .md-button.md-button--secondary:focus, .md-typeset .md-button.md-button--secondary:hover {
  color: var(--md-primary-fg-color--dark);
  background: #e5e5e5; }

.md-main .md-content a:not(.action-button):not([tabindex]),
.md-main .md-content a:not(.action-button):not([tabindex]) {
  color: var(--md-primary-fg-color);
  border-bottom: 2px solid var(--md-primary-fg-color); }
  .md-main .md-content a:not(.action-button):not([tabindex]):focus, .md-main .md-content a:not(.action-button):not([tabindex]):hover,
  .md-main .md-content a:not(.action-button):not([tabindex]):focus,
  .md-main .md-content a:not(.action-button):not([tabindex]):hover {
    color: var(--md-primary-fg-color--dark);
    border-bottom: 2px solid var(--md-primary-fg-color--dark); }

.support-active {
  color: darkgreen; }

.support-inactive {
  color: darkred; }
