.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

img.img-border {
  border: 1px solid #b3b3b3;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: inherit !important;
}